fastapi
uvicorn
pydantic
python-multipart
opencv-python-headless
numpy
sqlalchemy
pydantic-settings
torch
torchvision
timm
fpdf2
httpx
tenacity
requests
albumentations
seaborn
tqdm
matplotlib
scikit-learn
rich
click
google-generativeai
